# Pandas

## Pandas Tutorial

### Pandas Getting Started

In [2]:
import pandas

mydataset = {"cars": ["BMW", "Volvo", "Ford"], "passings": [3, 7, 2]}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
import pandas as pd

mydataset = {"cars": ["BMW", "Volvo", "Ford"], "passings": [2, 7, 2]}

myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         2
1  Volvo         7
2   Ford         2

In [1]:
import pandas as pd

print(pd.__version__)

2.3.1

### Pandas Series

In [2]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [4]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar[1])

7

In [2]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index=["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [3]:
print(myvar["y"])

7

In [4]:
import pandas as pd

calories = {"Day1": 380, "Day2": 430, "Day3": 242}

myvar = pd.Series(calories)

print(myvar)

Day1    380
Day2    430
Day3    242
dtype: int64

In [1]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index=["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [2]:
import pandas as pd

data = {"calories": [420, 380, 390], "duration": [50, 40, 45]}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

### Pandas DataFrames

In [3]:
import pandas as pd

data = {"calories": [420, 380, 390], "duration": [50, 40, 45]}

# Load data into a DataFrame object:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [5]:
# Refer to the row index:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [6]:
# Use a list of indexes:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [9]:
import pandas as pd

data = {"calories": [420, 380, 390], "duration": [50, 40, 45]}

df = pd.DataFrame(data, index=["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45